################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiniValuationSystem/bin/Debug/net6.0
/MiniValuationSystem/obj
/MiniValuationSystem.UnitTests/bin/Debug/net6.0
/MiniValuationSystem.UnitTests/obj
/.vs
